<div>
  <div class="flex flex-column">
    <button mat-button class="simple-text logo-mini mx-auto w-100">
      دكتور/ محمود إسماعيل
    </button>
  </div>

  <hr>

  <div class="d-flex flex-column gap-1 navigation-buttons">
    <button mat-button routerLink="/students" routerLinkActive="active">
      <i class="fas fa-graduation-cap icon"></i>
      <span class="text">الطلاب</span>
    </button>

    <button mat-button routerLink="/users" routerLinkActive="active">
      <i class="fas fa-user-tie icon"></i>
      <span class="text">المستخدمين</span>
    </button>

    <button mat-button routerLink="/coupons" routerLinkActive="active">
      <i class="fas fa-money-bill-wave icon"></i>
      <span class="text">الكوبونات</span>
    </button>

    <button mat-button routerLink="/courses" routerLinkActive="active">
      <i class="fas fa-book icon"></i>
      <span class="text">الكورسات</span>
    </button>
  </div>
</div>
